<div class="signUp-body">
  <div class="signUp-tab">
    <div class="signUp-tab-content">
      <div class="signUp-tab-content-header">SignUp</div>
      <div class="signUp-tab-content-body">
        <div class="signUp-tab-content-body-item">
          Enter Email : <br />
          <input
            type="email"
            placeholder="Enter your email"
            class="signUp-tab-content-body-item-input"
            #emailInput />
        </div>
        <div class="signUp-tab-content-body-item">
          Enter Password : <br />
          <input
            type="password"
            placeholder="Enter your password"
            class="signUp-tab-content-body-item-input"
            #passwordInput />
        </div>
      </div>

      <div class="signUp-tab-content-btn">
        <button class="signUp-tab-content-btn-option">Cancel</button>
        <button
          class="signUp-tab-content-btn-option"
          (click)="onClick(emailInput.value, passwordInput.value)">
          Sign Up
        </button>
      </div>
      <div class="login-tab-option"> <button class="signUp-tab-content-btn-option " routerLink="/user/login">Login</button>
    </div>
    </div>
  </div>
</div>
