<div
  class="tasks-body container-fluid"
  *ngIf="isNotEmptyTasks; else other_content">
  <div class="tasks-body-topic">Tasks</div>
  <div class="tasks-body-content">
    <div *ngIf="taskItems.length === 0; else other_one" class="noTaskSide">
      This is empty task list
    </div>
    <ng-template #other_one>
      <div
        class="tasks-body-content-items"
        *ngFor="let item of taskItems"
        
        [ngStyle]="
          item.isCompleted
            ? { 'text-decoration': 'line-through', opacity: '0.6' }
            : {}
        ">
        <div class="item name" (click)="setCompleted(item)"> {{ item.title }}</div>
       
        <div class="task-list-logo">
          <fa-icon [icon]="iconDelete" routerLinkActive="iconDisplay" (click)="deleteItem(item._id)"></fa-icon>
      </div>
      </div>
    </ng-template>
  </div>

  <button class="tasks-body-plus-button" (click)="createNewTask()">
    <img
      src="../../../../assets/plus.svg"
      alt=""
      class="task-body-plus-button-img" />
  </button>
</div>
<ng-template #other_content>
  <div class="noTaskSide">Please select a List from slide bar</div>
</ng-template>
