<div class="tasks-body container-fluid">
  <div class="tasks-body-topic">Tasks</div>
  <div class="tasks-body-content">
    <div
      class="tasks-body-content-items"
      *ngFor="let item of taskItems"
      (click)="setCompleted(item)"
      [ngStyle]="item.isCompleted ? {'text-decoration':'line-through','opacity':'0.6'} : {}">
      {{ item.title }}
    </div>
  </div>

  <button class="tasks-body-plus-button" (click)="createNewTask()">
    <img
      src="../../../../assets/plus.svg"
      alt=""
      class="task-body-plus-button-img" />
  </button>
</div>

