.task-manager-container-body{
    display:flex;
    flex-direction: row;
    background-color: antiquewhite;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px ;
   
    
}