.task-manager-container-body{
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px ;
   
    
}
.task{
    background-color: rgb(163, 161, 161);
}